<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>GestionBibliotheque</display-name>
  <welcome-file-list>
    <welcome-file>homepage.jsp</welcome-file>
  </welcome-file-list>
 
  <servlet-mapping>
    <servlet-name>Oeuvres</servlet-name>
    <url-pattern>/Oeuvres</url-pattern>
    <url-pattern>/Oeuvres/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Auteurs</servlet-name>
    <url-pattern>/Auteurs</url-pattern>
    <url-pattern>/Auteurs/*</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>Emprunts</servlet-name>
    <url-pattern>/Emprunts</url-pattern>
    <url-pattern>/Emprunts/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Abonnes</servlet-name>
    <url-pattern>/Abonnes</url-pattern>
    <url-pattern>/Abonnes/*</url-pattern>
  </servlet-mapping>
  
</web-app>